<!-- Footer Start -->
<div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Republic of Moldova, Ungheni, str.Feroviara 2</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+37379033577</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@comtehno-it.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-1" href="https://twitter.com/comntehnoit"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-1" href="https://www.facebook.com/comtehnoit"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-0" href="https://www.linkedin.com/company/comtehno-it/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="/about">About Us</a>
                <a class="btn btn-link" href="/contact">Contact Us</a>
                <a class="btn btn-link" href="/services">Our Services</a>
                <a class="btn btn-link" href="/terms">Terms & Condition</a>
                <a class="btn btn-link" href="/support">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Gallery</h5>
                <div class="row g-2">
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-1.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-2.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-3.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-4.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-5.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="img/project-6.jpg" alt="Image">
                    </div>
                </div>
            </div>
            <form action="/subscribe" method="post" class="col-lg-3 col-md-6"> 
                <h5 class="text-light mb-4">Newsletter</h5>
                <p>Put your email to get free resources</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent border-secondary w-100 py-3 ps-4 pe-5" type="text" name="formsubscribe" placeholder="Your email">
                    <button class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" type="submit"> SignUp</button>
                </div>
                <p></p>
                <div class="container">
                    <% if(error_subscribe && error_subscribe.length > 0) { %>
                        <div class="alert alert-danger" role="alert"> 
                            <%= error_subscribe %>  
                        </div>
                    <% } %>
        
                    <% if(info_subscribe && info_subscribe.length > 0) { %>
                        <div class="alert alert-info" role="alert"> 
                            <%= info_subscribe %>  
                        </div>
                    <% } %>
                </div>
            </form>
        </div>
        
    </div>
    <div class="copyright-txt" >
        &copy; <a href="#">COMTEHNO-IT</a>, All Right Reserved.
    </div>  
</div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
    
<!-- Template Javascript -->
<script src="js/main.js"></script>

</body>
</html>